*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
    color: #1c1c1c;
}

a{
    color: #fff;
    text-decoration: none;
    
    
}

a:hover{
    opacity: 0.7;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 10px;
}

nav{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    background: #1c1c1c;
    width: 100%;
    height: 50px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    padding: 15px;
    
  
}

header{
    
    /*background-image: url('../images/pc2.jpg');*/
    background: url(../images/pc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 200px;
    background-position: center 40%;
   
    
}

header h1{
    padding-bottom: 10px;
    color: #ffffff;
    text-shadow: 2px 2px black;
    
}

header p{
    padding-top: 10px;
    color: #ffffff;
    text-shadow: 2px 2px black;
    font-size: 20px;
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 200px;
    padding: 10px 10px 20px 20px;
    background-color: #1c1c1c;
    color: #FFFFFF;
}

#sobre h2{
    padding: 30px;
    font-size: 30px;
}

#sobre p{
    padding: 20px;
    font-size: 26px;
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#contato h2{
    color: #1c1c1c;
}

#contato img{
    width: 100px;
}

#contato a{
    color: #1c1c1c;
    font-size: medium; 
}

#contato p{
    padding: 20px;
}

footer{
    background-color: #1c1c1c;
    height: 50px;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

